<%-include('header.ejs')%>

    <h2>찾아오시는길</h2>
    <div class="map" id="inf">
        <div class="map" id="inf">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.0741229062164!2d128.5501383762815!3d35.179705057360415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356f2fada9df40af%3A0x88b5e7d5c57e06ac!2z6rK964Ko64yA7ZWZ6rWQIOygnDXqs7XtlZnqtIA!5e0!3m2!1sko!2skr!4v1699789638770!5m2!1sko!2skr"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>
    <ul>
        <li>학교 : 경남대학교</li>
        <li>건물 : 제5공학관</li>
    </ul>

    <body>
        <style>
            /* 여기에 스타일을 직접 작성 */
            table {
                border-collapse: collapse;
                width: 80%;
                margin: auto;

            }

            th {
                width: 50px;
                height: 80px;
                text-align: center;
                font-size: 50px;
                font-weight: bold;
                border: 12px solid #fff;
                color: #fff;
                /* 수정된 부분 */
            }

            td {
                width: 50px;
                height: 80px;
                text-align: center;
                font-size: 50px;
                font-weight: bold;
                border: 12px solid #fff;
                color: #fff;
                /* 수정된 부분 */
            }

            .available {
                background-color: #5bc0de;
                /* Blue */
            }

            .occupied {
                background-color: #d9534f;
                /* Red */
            }

            img {
                max-width: 200px;
                max-height: 200px;
            }

            body {
                margin: 0;
                padding: 0;
                font-family: sans-serif;
                background: linear-gradient(#fff, #fff);
                color: #000;
                text-align: center;
            }
        </style>
        <table border=1>
            <tr>
                <th style="background-color: #0080ff;"> 장애인 구역 빈자리</th>
                <th style="background-color: #000"> 일반 구역 빈자리</th>
            </tr>

            <% lists.forEach(function(item){ %>
                <tr>
                    <td style="background-color: #0080ff;">
                        <%=item.disable%>
                    </td>
                    <td style="background-color: #000">
                        <%=item.normal%>
                    </td>
                </tr>
                <% }) %>
        </table>
    </body>
    <%-include('footer.ejs')%>