<%-include('header.ejs')%>


    <ul>
        <li>팀명 : 믿고조</li>
        <li>조원 : 임재혁, 정은경, 황성민</li>
        <li>강의명 : 정보통신 종합설계I</li>
        <li>프로젝트명 : 장애인 주차구역 관리 시스템</li>
        <li>개발 동기 : 일반인의 장애인 주차구역 침범 및 남용 문제로 인해 보장 받아야 할 권리를 침해 받는 사례가 </li>
        <div>늘어나며 이 점을 보완하기 위해 장애인 주차구역 관리 시스템을 구축해 장애인 주차구역 침범 및 남용 문제를</div>
        <div>예방할 수 있으며 장애인들이 보다 더 편하게 사용할 수 있는 시스템이 필요하다고 느낌.</div>
    </ul>


    <%-include('footer.ejs')%>